{{define "viewForm"}}
<html>
    <body>    
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
            {{range $singleItem := .data}}            
            <tr>
                <td>{{$singleItem.Name}}</td>
                <td>{{$singleItem.Address}}</td>
                <td><a href="/viewSimpleForm?id={{$singleItem.Id}}&action=delete">Button</a></td>
            </tr>
            {{end}}
        </table>
    </body>
</html>
{{end}}
